@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var selects = ViewData["Selects"] as List<A>;
}

<div class="text-center">
    @foreach (var itemSql in selects)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">@itemSql.SqlSelect</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    }
</div>
