
src/.vs/FluentSqlBuilder/v16/

src/FluentSqlBuilder/obj/

dasd

src/.vs/FluentSqlBuilder/DesignTimeBuild/

src/FluentSqlBuilder.Core/bin/Debug/net5.0/ref/

src/FluentSqlBuilder.Core/bin/Debug/netcoreapp3.1_/

src/FluentSqlBuilder.Core/obj/Debug/net5.0/

src/FluentSqlBuilder.Core/obj/Debug/netcoreapp3.1/

src/FluentSqlBuilder.Core/obj/

src/FluentSqlBuilder.Core/bin/Debug/net5.0/
