
src/.vs/

src/obj/*

src/FluentSqlBuilder/obj/

src/FluentSqlBuilder.DataModel/obj/*

src/FluentSqlBuilder.DataModel/bin/*

src/FluentSqlBuilder.Test.Unit/bin/*

src/FluentSqlBuilder.Test.Unit/obj/*

src/FluentSqlBuilder.Playground/obj/*

src/FluentSqlBuilder.Playground/bin/*

src/FluentSqlBuilder.Playground.Console/obj/*

src/FluentSqlBuilder.Playground.Console/bin/*

src/FluentSqlBuilder.Playground.Shared/obj/*

src/FluentSqlBuilder.Playground.Shared/bin/*

src/FluentSqlBuilder.Playground.Web/obj/*

src/FluentSqlBuilder.Playground.Web/bin/*

src/FluentSqlBuilder.Core/bin/*

src/FluentSqlBuilder.Core/obj/*

src/obj/Docker/*

Docker/*
